* {
    font-family: 'Roboto', sans-serif;
}

#game-container {
    display: flex;
    flex-direction: column;
}

#uicontainer {
    display: flex;
    flex-direction: row;
}

.error {
    color: red;
}

button {
    width: 90px;
    height: 30px;
    border-width: 0px;
    border-radius: 2.5px;
    background-color: rgb(68, 171, 255);
    cursor: pointer;
    margin-top: 5px;
}

input {
    border-width: 1px;
    outline: none;
}

#container {
    z-index: 99999999;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#input {
    height: 20px;
}

#message-container {
    width: 330px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 10px;
}
canvas {
    width: 350px;
    height: 350px;
}
#messages {
    height: 310px;
    overflow-y: scroll;
}
#text {
    margin: 0;
    height: 20px;
    width: 200px;
}